
<div *ngIf="!listado">
    <span #cargando>
        <ng-content select="[cargando]"></ng-content>
    </span>
    <span *ngIf="!cargando.innerHTML.trim()">
    <img src="https://www.netatwork.com/uploads/AAPL/loaders/Teddy%20Bear%20Loading.gif">
    </span>
</div>
<div *ngIf="listado?.length === 0">
    
    <span #vacio>
        <ng-content  select="[vacio]"></ng-content>
    </span>
    <span *ngIf="!vacio.innerHTML.trim()">
    <p>NO HAY PELICULAS PARA MOSTRAR</p>
    </span>    
</div>

<ng-container *ngIf="listado && listado.length > 0">
<ng-content select="[contenido]"></ng-content>
</ng-container>
